[submodule "peripherals/keccak"]
	path = peripherals/keccak
	url = https://github.com/cisec-su/Keccak_Acc.git
[submodule "peripherals/ntt"]
	path = peripherals/ntt
	url = https://github.com/cisec-su/NTT-Lite.git
[submodule "peripherals/x2x_wb/x2x"]
	path = peripherals/x2x_wb/x2x
	url = https://github.com/toluntosun21/X2X.git
	branch = 32b_extension_fix