__pycache__/
*.txt
*.jou
*.log
*.wcfg
*.str
*.bin
*.elf
*.mem
*.rpt
*.dcp
*.bit
*.hwh
*.xml
*.ltx
*.xsa
*.sdk
*.hw
*.hwdef
*.sysdef
*.runs
*.data
*.ip_user_files
*.sim
*.cache
*.gen
*.webtalk
*.ets
*.npy
.vscode
.claude/
.claude_settings.json